.info-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border: double black 3px;
  width: 300px;
}
.icon-exit{
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
.info-card-img {
  width: 300px;
}

.info-card-stat-container {
  display: flex;
  border-top: solid #bebebe 1px;
}

.left-info {
  /*  background-color: pink;*/
  flex: 1;
  padding-right: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-info {
  /*  background-color: lightblue;*/
  flex: 1;
  padding-left: 5px;
}

.left-info p,
.right-info p {
  margin: 0;
  padding: 5px 0;
}
